{{!

    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_discuss/discussion-post

    Display forum discussion post.

    Example context (json):

        {
            "id": "Post id",
            "userpicture": "/pluginfile.php/5/user/icon/adaptable/f2",
            "fullname": "Full name",
            "userprofilelink": "/user/view.php?id=122",
            "timesince": "11:00:00",
            "subject": "Subject",
            "message": "Message"
        }

}}

	<li class="block_course_discuss_feed_item block_course_discuss_feed_item_border">
		<div class="block_course_discuss_feed_item_user">
			<div class="block_course_discuss_feed_item_a_avatar" aria-hidden="true">
                <span class="picture">
                    {{{userpicture}}}
                </span>
            </div>
        </div>

		<div class="block_course_discuss_feed_item_body">
			<div class="block_course_discuss_feed_item_header">
				<div class="block_course_discuss_feed_item_preamble">
					<div class="block_course_discuss_feed_item_heading_primary">
						<a href="{{{userprofilelink}}}">{{{fullname}}}</a>
					</div>
				</div>
				<div class="block_course_discuss_feed_item_meta">
                    <span class="block_course_discuss_feed_item_timestamp"><time>{{{timesince}}}</time></span>
                </div>
			</div>
			<div class="block_course_discuss_feed_item_content">
					<div class=""><p>{{{message}}}</p>
					</div>
			</div>
			<div class="block_course_discuss_feed_item_actions">

					<button aria-label="comment reply button" class="block_course_discuss_action_button" value="{{{id}}}">Reply</button>

			</div>

            {{#editpostallowed}}
                    <div class="block_course_discuss_edit_post_container"><a href="{{{editlink}}}" title="{{{editlinktext}}}">{{{editlinktext}}}</a></div>
            {{/editpostallowed}}

			<div id="course-discuss-reply-form-container_{{{id}}}" class="course-discuss-reply-form-container"></div>
			<div id="comment_{{{id}}}"></div>
		</div>
	</li>

