{{!

    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_discuss/discussion-reply-form

    Display forum discussion reply form

    Example context (json):
    {
    "formdata": [
        {"forumid": 12, 
         "courseid":398,
         "pageinternalid": 1,
         "pagename": "section",
         "sectionnum": "Week 1",
         "discussionid": 81,
         "contextid": 9,
         "buttonid": "course-discuss-create-reply",
         "replyplaceholder": "Add a reply"}
    ]
    }
}}

    <form id="course-discuss-discussion-form" method="post" aria-label="formlabel" class="course-discuss-form">
        <fieldset>
            <div class="course-discuss-validation-errors" role="alert"></div>

                <textarea name="message" id="block_course_discuss_form_message" rows="4" maxlength="1200" placeholder="{{replyplaceholder}}"></textarea>
                <div id="block_course_discuss_form_message_feedback"></div>

                <input type="hidden" name="forumid" value="{{forumid}}" />
                <input type="hidden" name="courseid" value="{{courseid}}" />
                <input type="hidden" name="pageinternalid" value="{{pageinternalid}}" />
                <input type="hidden" name="pagename" value="{{pagename}}" />
                <input type="hidden" id="discussionid_{{parentpostid}}" name="discussionid" value="{{discussionid}}" />
                <input type="hidden" name="contextid" value="{{contextid}}" />
                <input type="hidden" name="parentpostid" value="{{parentpostid}}" />

                    <div class="block_course_discuss_buttons">
	                   <button type="submit" id="form-{{buttonid}}" class="btn btn-primary course-discuss-reply-button" value="{{parentpostid}}">
	                    	Post</button>
	                    <button type="reset" id="id_cancel" class="btn btn-link">Cancel</button>
	               </div>
	               {{#showviewthread}}
                        <div class="block_course_discuss_view_thread_container"><a href="{{{threadlink}}}" title="{{{threadlinktext}}}">{{{threadlinktext}}}</a></div>
                   {{/showviewthread}}
        </fieldset>
    </form>